---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tutorial Astro</title>
	</head>
	<body>
		<a href="/">Inicio</a>
        <a href="/about">Sobre mi</a>
		<a href="/blog">Blog</a>
		
		<h1>Bienvenidos a mi Blog</h1>
		<p>Hola, bienvenido a mi blog de Astro. Aquí compartiré mis experiencias y aprendizajes mientras trabajo en el tutorial de Astro.</p>

	</body>
</html>
