---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await Astro.glob('./posts/*.md');
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
		<p>Hola, bienvenido a mi blog de Astro. Aquí compartiré mis experiencias y aprendizajes mientras trabajo en el tutorial de Astro.</p>

        <ul>
            {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} datePub={post.frontmatter.pubDate} />)}
        </ul>
</BaseLayout>   
</html>
