---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Galeria de Isabella";
---

<BaseLayout pageTitle={pageTitle}>
		<p>Hola, bienvenido a la galeria de arte de Isa, espero que te guste y deja tus comentarios.</p>

        <ul>
            <li><a href="/posts/post-1">Post 1</a></li>
            <li><a href="/posts/post-2">Post 2</a></li>
            <li><a href="/posts/post-3">Post 3</a></li>

        </ul>
</BaseLayout>   
</html>
