---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Galeria de Isabella";
---

<BaseLayout pageTitle={pageTitle}>
		<p>Hola, bienvenido a la galeria de arte de Isa, espero que te guste y deja tus comentarios.</p>
        <p>Aun esta en proceso de construccion, muy pronto se abrira a todos. </p>
</BaseLayout>   
</html>
