---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Turorial de Astro";
---
<BaseLayout pageTitle={pageTitle}>
	<h2>Mi impresionante subtitulo del blog.</h2>
	<p>Hola, bienvenido a mi blog de Astro. Aquí compartiré mis experiencias y aprendizajes mientras trabajo en el tutorial de Astro.</p>
</BaseLayout>