---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tutorial Astro</title>
	</head>
	<body>
		<h1>Este es el tutorial de Astro, por Juan Carlos</h1>
		<p>Hola, bienvenido a mi tutorial de Astro. Aquí aprenderás a crear una página web con Astro.</p>
		<p>Astro es un generador de sitios estáticos que te permite crear páginas web rápidas y eficientes.</p>
		<p>En este tutorial, aprenderás a crear una página web desde cero utilizando Astro.</p>
		<p>Astro es un generador de sitios estáticos que te permite crear páginas web rápidas y eficientes.</p>
		<p>En este tutorial, aprenderás a crear una página web desde cero utilizando Astro.</p>
		<p>Astro es un generador de sitios estáticos que te permite crear páginas web rápidas y eficientes.</p>
		<p>En este tutorial, aprenderás a crear una página web desde cero utilizando Astro.</p>
		<p>Astro es un generador de sitios estáticos que te permite crear páginas web rápidas y eficientes.</p>
		<p>En este tutorial, aprenderás a crear una página web desde cero utilizando Astro.</p>				
	</body>
</html>
